/trade_puppeteer/node_modules
/trade_puppeteer/.env
/trade_puppeteer/.env.production
/trade_puppeteer/dist

trade_crawler/.phpunit.cache
trade_crawler/node_modules
trade_crawler/public/build
trade_crawler/public/hot
trade_crawler/public/storage
trade_crawler/storage/*.key
trade_crawler/vendor
trade_crawler/.env
trade_crawler/.env.backup
trade_crawler/.env.production
trade_crawler/.phpactor.json
trade_crawler/.phpunit.result.cache
trade_crawler/Homestead.json
trade_crawler/Homestead.yaml
trade_crawler/auth.json
trade_crawler/npm-debug.log
trade_crawler/yarn-error.log
trade_crawler/.fleet
trade_crawler/.idea
trade_crawler/.vscode
trade_crawler/local
trade_crawler/production

db
